<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.fm.mapper.SourcecodephoneMapper" >
  <resultMap id="BaseResultMap" type="com.mh.fm.po.Sourcecodephone" >
    <id column="sourcecodePhoneid" property="sourcecodephoneid" jdbcType="INTEGER" />
    <result column="sourcecodePhonename" property="sourcecodephonename" jdbcType="VARCHAR" />
    <result column="sourcecodePhoneaddress" property="sourcecodephoneaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sourcecodePhoneid, sourcecodePhonename, sourcecodePhoneaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mh.fm.po.SourcecodephoneExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sourcecodephone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sourcecodephone
    where sourcecodePhoneid = #{sourcecodephoneid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sourcecodephone
    where sourcecodePhoneid = #{sourcecodephoneid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mh.fm.po.SourcecodephoneExample" >
    delete from sourcecodephone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mh.fm.po.Sourcecodephone" >
    insert into sourcecodephone (sourcecodePhoneid, sourcecodePhonename, 
      sourcecodePhoneaddress)
    values (#{sourcecodephoneid,jdbcType=INTEGER}, #{sourcecodephonename,jdbcType=VARCHAR}, 
      #{sourcecodephoneaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mh.fm.po.Sourcecodephone" >
    insert into sourcecodephone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sourcecodephoneid != null" >
        sourcecodePhoneid,
      </if>
      <if test="sourcecodephonename != null" >
        sourcecodePhonename,
      </if>
      <if test="sourcecodephoneaddress != null" >
        sourcecodePhoneaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sourcecodephoneid != null" >
        #{sourcecodephoneid,jdbcType=INTEGER},
      </if>
      <if test="sourcecodephonename != null" >
        #{sourcecodephonename,jdbcType=VARCHAR},
      </if>
      <if test="sourcecodephoneaddress != null" >
        #{sourcecodephoneaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mh.fm.po.SourcecodephoneExample" resultType="java.lang.Integer" >
    select count(*) from sourcecodephone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sourcecodephone
    <set >
      <if test="record.sourcecodephoneid != null" >
        sourcecodePhoneid = #{record.sourcecodephoneid,jdbcType=INTEGER},
      </if>
      <if test="record.sourcecodephonename != null" >
        sourcecodePhonename = #{record.sourcecodephonename,jdbcType=VARCHAR},
      </if>
      <if test="record.sourcecodephoneaddress != null" >
        sourcecodePhoneaddress = #{record.sourcecodephoneaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sourcecodephone
    set sourcecodePhoneid = #{record.sourcecodephoneid,jdbcType=INTEGER},
      sourcecodePhonename = #{record.sourcecodephonename,jdbcType=VARCHAR},
      sourcecodePhoneaddress = #{record.sourcecodephoneaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mh.fm.po.Sourcecodephone" >
    update sourcecodephone
    <set >
      <if test="sourcecodephonename != null" >
        sourcecodePhonename = #{sourcecodephonename,jdbcType=VARCHAR},
      </if>
      <if test="sourcecodephoneaddress != null" >
        sourcecodePhoneaddress = #{sourcecodephoneaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where sourcecodePhoneid = #{sourcecodephoneid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mh.fm.po.Sourcecodephone" >
    update sourcecodephone
    set sourcecodePhonename = #{sourcecodephonename,jdbcType=VARCHAR},
      sourcecodePhoneaddress = #{sourcecodephoneaddress,jdbcType=VARCHAR}
    where sourcecodePhoneid = #{sourcecodephoneid,jdbcType=INTEGER}
  </update>
</mapper>