<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.fm.mapper.VideopcknMapper" >
  <resultMap id="BaseResultMap" type="com.mh.fm.po.Videopckn" >
    <id column="videoPCknid" property="videopcknid" jdbcType="INTEGER" />
    <result column="videoPCknname" property="videopcknname" jdbcType="VARCHAR" />
    <result column="videoPCknaddress" property="videopcknaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    videoPCknid, videoPCknname, videoPCknaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mh.fm.po.VideopcknExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from videopckn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from videopckn
    where videoPCknid = #{videopcknid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videopckn
    where videoPCknid = #{videopcknid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mh.fm.po.VideopcknExample" >
    delete from videopckn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mh.fm.po.Videopckn" >
    insert into videopckn (videoPCknid, videoPCknname, videoPCknaddress
      )
    values (#{videopcknid,jdbcType=INTEGER}, #{videopcknname,jdbcType=VARCHAR}, #{videopcknaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mh.fm.po.Videopckn" >
    insert into videopckn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videopcknid != null" >
        videoPCknid,
      </if>
      <if test="videopcknname != null" >
        videoPCknname,
      </if>
      <if test="videopcknaddress != null" >
        videoPCknaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videopcknid != null" >
        #{videopcknid,jdbcType=INTEGER},
      </if>
      <if test="videopcknname != null" >
        #{videopcknname,jdbcType=VARCHAR},
      </if>
      <if test="videopcknaddress != null" >
        #{videopcknaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mh.fm.po.VideopcknExample" resultType="java.lang.Integer" >
    select count(*) from videopckn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update videopckn
    <set >
      <if test="record.videopcknid != null" >
        videoPCknid = #{record.videopcknid,jdbcType=INTEGER},
      </if>
      <if test="record.videopcknname != null" >
        videoPCknname = #{record.videopcknname,jdbcType=VARCHAR},
      </if>
      <if test="record.videopcknaddress != null" >
        videoPCknaddress = #{record.videopcknaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update videopckn
    set videoPCknid = #{record.videopcknid,jdbcType=INTEGER},
      videoPCknname = #{record.videopcknname,jdbcType=VARCHAR},
      videoPCknaddress = #{record.videopcknaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mh.fm.po.Videopckn" >
    update videopckn
    <set >
      <if test="videopcknname != null" >
        videoPCknname = #{videopcknname,jdbcType=VARCHAR},
      </if>
      <if test="videopcknaddress != null" >
        videoPCknaddress = #{videopcknaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where videoPCknid = #{videopcknid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mh.fm.po.Videopckn" >
    update videopckn
    set videoPCknname = #{videopcknname,jdbcType=VARCHAR},
      videoPCknaddress = #{videopcknaddress,jdbcType=VARCHAR}
    where videoPCknid = #{videopcknid,jdbcType=INTEGER}
  </update>
</mapper>