<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.fm.mapper.VideopcfmMapper" >
  <resultMap id="BaseResultMap" type="com.mh.fm.po.Videopcfm" >
    <id column="videoPCfmid" property="videopcfmid" jdbcType="INTEGER" />
    <result column="videoPCfmname" property="videopcfmname" jdbcType="VARCHAR" />
    <result column="videoPCfmaddress" property="videopcfmaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    videoPCfmid, videoPCfmname, videoPCfmaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mh.fm.po.VideopcfmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from videopcfm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from videopcfm
    where videoPCfmid = #{videopcfmid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videopcfm
    where videoPCfmid = #{videopcfmid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mh.fm.po.VideopcfmExample" >
    delete from videopcfm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mh.fm.po.Videopcfm" >
    insert into videopcfm (videoPCfmid, videoPCfmname, videoPCfmaddress
      )
    values (#{videopcfmid,jdbcType=INTEGER}, #{videopcfmname,jdbcType=VARCHAR}, #{videopcfmaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mh.fm.po.Videopcfm" >
    insert into videopcfm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videopcfmid != null" >
        videoPCfmid,
      </if>
      <if test="videopcfmname != null" >
        videoPCfmname,
      </if>
      <if test="videopcfmaddress != null" >
        videoPCfmaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videopcfmid != null" >
        #{videopcfmid,jdbcType=INTEGER},
      </if>
      <if test="videopcfmname != null" >
        #{videopcfmname,jdbcType=VARCHAR},
      </if>
      <if test="videopcfmaddress != null" >
        #{videopcfmaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mh.fm.po.VideopcfmExample" resultType="java.lang.Integer" >
    select count(*) from videopcfm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update videopcfm
    <set >
      <if test="record.videopcfmid != null" >
        videoPCfmid = #{record.videopcfmid,jdbcType=INTEGER},
      </if>
      <if test="record.videopcfmname != null" >
        videoPCfmname = #{record.videopcfmname,jdbcType=VARCHAR},
      </if>
      <if test="record.videopcfmaddress != null" >
        videoPCfmaddress = #{record.videopcfmaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update videopcfm
    set videoPCfmid = #{record.videopcfmid,jdbcType=INTEGER},
      videoPCfmname = #{record.videopcfmname,jdbcType=VARCHAR},
      videoPCfmaddress = #{record.videopcfmaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mh.fm.po.Videopcfm" >
    update videopcfm
    <set >
      <if test="videopcfmname != null" >
        videoPCfmname = #{videopcfmname,jdbcType=VARCHAR},
      </if>
      <if test="videopcfmaddress != null" >
        videoPCfmaddress = #{videopcfmaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where videoPCfmid = #{videopcfmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mh.fm.po.Videopcfm" >
    update videopcfm
    set videoPCfmname = #{videopcfmname,jdbcType=VARCHAR},
      videoPCfmaddress = #{videopcfmaddress,jdbcType=VARCHAR}
    where videoPCfmid = #{videopcfmid,jdbcType=INTEGER}
  </update>
</mapper>